body {
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.projects {
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
  min-height: 100vh;

  &__container {
    background: rgba(255, 255, 255, 0.363);
    min-height: 100vh;
  }

  .herobanner {
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5rem 0;
      max-width: 1120px;
      margin: 0 auto;
      color: #72424d;

      img {
        display: block;
        width: 520px;
      }

      p {
        font-size: 1.45em;

        a {
          color: #72424d;

          &:hover {
            font-weight: 500;
          }
        }
      }
    }
  }

  &__links {
    max-width: 1120px;
    margin: 0 auto;

    a {
      font-size: 1.8em;
      display: block;
      color: #72424d;
    }
  }
}
