.stripeapp {
  &__nav {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: relative;
    z-index: 1;

    &__container {
      width: 90vw;
      max-width: 1170px;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toggle-btn {
          font-size: 1rem;
          padding: 0.25rem 0.75rem;
          border-radius: 0.25rem;
          border-color: transparent;
          color: white;
          background: black;
          cursor: pointer;
          transition: all 0.3s linear;

          &:hover {
            background: #617d98;
          }
        }
      }

      &__links {
        display: none;
      }

      .signin-btn {
        display: none;
      }
    }
  }

  &__hero {
    position: relative;
    min-height: 100vh;
    margin-top: -5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    &__container {
      width: 90vw;
      max-width: 1170px;
      display: grid;
      align-items: center;

      &__info {
        h1 {
          text-transform: none;
          max-width: 500px;
          margin-bottom: 2rem;
        }

        p {
          max-width: 35em;
          line-height: 1.8;
        }

        .start-btn {
          font-size: 1rem;
          padding: 0.25rem 0.75rem;
          border-radius: 0.25rem;
          border-color: transparent;
          color: white;
          background: black;
          cursor: pointer;
          transition: all 0.3s linear;

          &:hover {
            background: #617d98;
          }
        }
      }

      &__images {
        display: none;
      }
    }
  }

  &__hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    background: url("../../../images/hero.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__sidebar.show {
    visibility: visible;
    z-index: 2;
    transform: scale(1);
  }

  &__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s linear;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.5);

    &__container {
      width: 90vw;
      height: 95vh;
      max-width: 1170px;
      background: white;
      border-radius: 0.25rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      position: relative;
      padding: 4rem 2rem;

      h4 {
        text-transform: capitalize;
      }

      .close-btn {
        font-size: 2rem;
        background: transparent;
        border-color: transparent;
        color: #617d98;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }

      &__links {
        article {
          margin-bottom: 2rem;
        }

        .sublinks {
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 0.25rem;

          a {
            display: block;
            color: #102a42;
            text-transform: capitalize;
            display: flex;
            align-items: center;
          }

          svg {
            color: #617d98;
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &__submenu.show {
    display: block;
  }

  &__submenu {
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
    padding: 2rem;
    border-radius: 0.25rem;
    transition: all 0.3s linear;

    h4 {
      margin-bottom: 1.5rem;
      text-transform: capitalize;
    }

    &__container {
      display: grid;
      gap: 0.25rem 2rem;

      a {
        width: 10rem;
        display: block;
        color: #102a42;
        text-transform: capitalize;
        display: flex;
        align-items: center;
      }

      svg {
        color: #617d98;
        margin-right: 1rem;
      }
    }

    &__container.col-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &__container.col-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &__container.col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__submenu::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 800px) {
  .stripeapp {
    &__nav__container {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;

      &__header .toggle-btn {
        display: none;
      }

      &__links {
        display: block;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        height: 100%;
        display: grid;
        align-items: center;

        li {
          height: 100%;

          .link-btn {
            height: 100%;
            background: transparent;
            border-color: transparent;
            font-size: 1.1rem;
            color: white;
            text-transform: capitalize;
            letter-spacing: 1px;
            width: 10rem;
          }
        }
      }

      .signin-btn {
        display: inline-block;
        font-size: 1rem;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
        border-color: transparent;
        color: white;
        background: black;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
          background: #617d98;
        }
      }
    }

    &__hero::before {
      background-size: contain;
      height: 100%;
    }

    &__hero__container {
      grid-template-columns: 2fr 1fr;

      &__info {
        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.25rem;
        }
      }

      &__images {
        display: block;
        justify-self: center;

        &--phone {
          width: 12rem;
        }
      }
    }

    &__sidebar {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .stripeapp {
    &__hero__container {
      padding-top: 8.5em;
      padding-bottom: 20vh;
      align-items: end;

      h1 {
        font-size: 5.5em;
      }

      &__images--phone {
        width: 15rem;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .stripeapp {
    &__hero__container {

      h1 {
        font-size: 6em;
      }

      &__images--phone {
        width: 17rem;
      }
    }
  }
}
